.ispace {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.FccFrontEndd {
  padding-bottom: 400px;
}

.FccFrontEndd img {
  display: block;
  margin: 0 auto;
  /* width: 60%; */
  padding-bottom: 50px;
  -webkit-filter: drop-shadow(7px 7px 5px #000000);
  filter: drop-shadow(7px 7px 5px #000000);
}

/* .FccFrontEndd {
  background-color: rgba(255, 0, 0, 0.1);
} */

@media screen and (min-width: 600px) {
  /* Screens above 600px width */
  .FccFrontEndd img {
    display: block;
    margin: 0 auto;
    /* width: 40%; */
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 960px) {
  /* Screens above 960px width */
  .container {
    margin-top: 7%;
    padding-top: 0px;
  }
}
